.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/rake.rb
.chef/encrypted_data_bag_secret
.chef/knife.rb

###
# Random File
# 
0

##
# Packer ignores
#
packer/output
packer_cache
*.box
boxes

###
# Ignore dotfiles
#
*.swp
.kitchen


